<h1>STARTUP STATION</h1>

<% if current_user.nil? || current_user.admin%>
    <% corp_info_link = companies_path %>
<% elsif current_user.company %>
    <% corp_info_link = company_path(current_user.company) %>
<% else %>
    <% corp_info_link = new_company_path %>
<% end %>
<div class="list-group mt-5">
    <%= link_to '기업정보' , corp_info_link, class: "list-group-item list-group-item-action"%>
    <%= link_to '팀원정보' , "#", class: "list-group-item list-group-item-action"%>
</div>